-﻿body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Brush Script MT';
    src: url("fonts/BRUSHSCI.ttf");
}

.city-background-color {
    background-color: rgba(30, 26, 27);
    width: 100vw;
    height: 1080px;
    overflow: hidden;
    max-width: 100%;
}

.grey-city-image {
    width: 1920px;
    height: 1200px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-color: rgba(30, 26, 27);
    position: absolute;
    left: 50%;
    top: -120px;
    transform: translate(-50%, 0);
    overflow: hidden;
}

.middle-grey-background {
    background-color: rgba(75, 75, 77);
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.isaac-newton-image {
    width: 333px;
    height: 333px;
    border: 10px solid white;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}

.discord-logo {
    position: absolute;
    width: 76px;
    height: 74px;
    top: 30%;
    left: 30%;
    fill: white;
    color: white;
}
