body {
    padding: 0;
    margin: 0;
    font-family: 'Cream Cake';
    font-family: Calibri;
    color: white;

}

@font-face {
    font-family: 'Brush Script MT';
    src: url("../fonts/BRUSHCI.ttf");
}

@font-face {
    font-family: 'Cream Cake';
    src: url("../fonts/Cream Cake.otf");
}



.city-background {
    width: 100vw;
    height: 775px;
    max-width: 100%;
    background-color: rgba(30, 26, 27);
}

.city-image {
    position: relative;
    background-position: center;
    background-image: url("../../../Top Bar/Pictures/City.png");
    max-width: 100%;
    height: 775px;
    background-repeat: no-repeat;
    overflow: hidden;

}

.main-space-background {
    background-color: rgba(75,75,77);
    width: 100vw;
    max-width: 100%;
    height: 2560px;
    min-height: 100vh;
    
}

.isaac-newton-image {
    width: 333px;
    height: 333px;
    border: min(10px, 0.75vw) solid white;
    border-radius: min(15px, 1.5vw);
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    max-width: 40vmin;
    max-height: 40vmin;
}

.isaac-newton-text {
    color: white;
    line-break: strict;
    
    width: max(960px, 20vw);
    font-size: min(75px, 4vw);
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
}



.image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}



.join-button {
    font-size: min(75px, 4vw);
    border: min(10px, 0.75vw) solid white;
    color: white;
    text-align: center;
    border-radius: min(15px, 1.5vw);
    background-color: rgba(75, 75, 77, 0.66);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

button {
    font-family: 'Brush Script MT';
}

.middle-main-container {
    height: 560px;
    padding-top: 137px;
    padding-bottom: 137px;
    width: 1920px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    font-size: 50px;
    transform: translate(-50%, 0%);
    left: 50%;
    font-size: 50px;
}

.middle-main-text {
    transform: translate(0%, -50%);
    display: inline-block;
    position: absolute;
    width: min(450px, 18vw);
    transform: translate(0%, 50%);
    font-size: min(20px, 1vw);
    margin-left: max(25px, 5%);
    margin-top: 6%;
    margin-right: max(25px, 5%);
}