body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
    font-family: Calibri;
}

.gradient-background {
    width: 100vw;
    max-width: 100%;
    background-image: linear-gradient(90deg, #CCCCCC, #7331C9);
    height: 2250px;
    overflow: hidden;
    max-height: 230vh;
    /*padding-bottom: min(100px, 2.6vw); */
}

.top-centered-content {

    width: 1920px;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    height: 1080px;
    max-height: 100vh;
    transform: translate(-50%, 0);
    overflow: hidden;
}

.centered-description {
    color: white;
    font-size: min(50px, 2.6vw);
    font-family: Calibri;
    font-style: italic;
    text-align: center;
    position: relative;
    top: min(100vh, 1080px);
    margin-top: min(50px, 2.6vw);
    position: relative;
}


.scrolling-image {
    position: absolute;
    transform: translate(-50%, 0);
    width: min(840px,43.75vw);
    height: min(500px, 26vw);
}

.scrolling-image-wrapper {
    position: relative;
    top: min(105vh, 1134px);
    object-fit: contain;
    height: min(700px, 36.5vw);
}

.image-navigator {
    /*
    top: 145%;
    left: 100%;
    transform: translate(max(-190px, -9.9vw), 0);
    font-family: Calibri;
    font-size: min(25px, 1.3vw);
    color: white;
    */
    top: 105%;
    right: 1%;
    font-size: min(25px, 1.3vw);
    font-family: Calibri;
    position: absolute;
    width: fit-content;
}

.image-title {
    font-size: min(35px, 1.82vw);
    font-weight: bold;
}

.image-price {
    font-size: min(25px, 1.3vw);
    font-weight: bold;
}

.image-description {
    font-size: min(20px, 1.042vw);
    width: 40%;
}

.page-splitter-wrapper {
    width: 100vw;
    max-width: 100%;
    height: 100px;
    position: relative;
    border: 3px solid grey;
}

.background-solid {
    width: 100vw;
    max-width: 100%;
    height: 1650px;
    background-color: #E2DDEC;
}

.page-splitter-right-content {
    position: relative;
    color: black;
    font-size: min(30px, 1.56vw);
    list-style: none;
    float: right;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
}

.page-splitter-left-content {
    position: relative;
    color: black;
    list-style: none;
    top: 50%;
    float: left;
    transform: translateY(-50%);
}

.page-splitter-left-content li {
    display: inline-block;
    font-size: min(30px, 1.56vw);
    font-weight: bold;
    
}

.page-splitter-right-content li {
    display: inline-block;
    margin-left: min(75px, 3.9vw);

}

.search-bar {
    border: 2px solid grey;
    width: 50vw;
    background-color: transparent;
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-45%, -50%);
    float: left;
    height: min(40px, 2.08vw);
    
}
/*
    calibri 25 italic
*/