body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.gradient-background {
    width: 100vw;
    max-width: 100%;
    background-image: linear-gradient(90deg, #CCCCCC, #7331C9);
    height: 2250px;
    overflow: hidden;
    min-height: 100vh;
}

.top-centered-content {

    width: 1920px;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    height: 1080px;
    max-height: 100vh;
    transform: translate(-50%, 0);
    overflow: hidden;
    border: 5px solid red;
}

.centered-description {
    color: white;
    font-size: min(50px, 2.6vw);
    font-family: Calibri;
    font-style: italic;
    text-align: center;
    position: relative;
    border: 5px solid green;
    top: min(100vh, 1080px);
    margin-top: min(50px, 2.6vw);
    position: relative;
}


.scrolling-image {
    position: absolute;
    transform: translate(-50%, 0);
    width: min(840px,43.75vw);

}

.scrolling-image-wrapper {
    position: relative;
    border: 5px solid pink;
    top: min(105vh, 1134px);
    object-fit: contain;
}
/*
    calibri 25 italic
*/