body
{
    margin: 0;
    padding: 0;
    background-color: rgba(236, 230, 231);
}

.gradient-background {
    background-image: linear-gradient(90deg,#ECE6E7, #D5A3A3);
    height: 1080px;
    max-height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: inline-block;
    position: relative;
}

.right-background {
    background-color: #ECE6E7;
    height: 1080px;
    width: max(0, calc((100vw-1920)/2));
    display: inline-block;
}

.main-content-space {
    height: 2700px;
}

.top-centered-content {
    width: 1920px;
    max-width: 100%;
    border: 10px solid red;
    position: absolute;
    left: 50%;
    top: 0;
    height: 1080px;
    max-height: 100vh;
    transform: translate(-50%, 0);
    overflow: hidden;
}
